@using Microsoft.AspNetCore.Identity


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}


@inject IViewLocalizer localizer

@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}





<!DOCTYPE html>
<html lang="en" dir="@(isRTL ? "RTL" : "LTR")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RunGroopWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @if (isRTL)
    {
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    }
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/entypo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/socicon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RunGroopWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JsonBasedLocalization.Web.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/8aa18c8793.js" crossorigin="anonymous"></script>
</head>
<body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JsonBasedLocalization.Web</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@localizer["home"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@localizer["privacy"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-4">
                    <partial name="_SelectLanguage" />
                </div>
            </nav>
          </header>
   
          <div class="navbar-container">
        <div class="bg-light navbar-light" data-sticky="top">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index" id="logo-text">RunGroop</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="icon-menu h4"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Find Runners</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Club" asp-action="Index">Find Clubs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Race" asp-action="Index">Find Races</a>
                            </li>
                        </ul>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle p-lg-0" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @if (!string.IsNullOrEmpty(currentUser.ProfileImageUrl))
                                        {
                                            <img alt="Image" src="@currentUser.ProfileImageUrl" class="avatar avatar-xs">
                                        }
                                        else
                                        {
                                            <img alt="Image" src="/img/avatar-male-4.jpg" class="avatar avatar-xs">
                                        }
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                                        <a class="dropdown-item" asp-controller="User" asp-action="Detail" asp-route-id="@currentUser.Id">
                                            <span class="h6 mb-0">View Profile</span>
                                        </a>

                                        <a class="dropdown-item" asp-controller="User" asp-action="EditProfile">
                                            <span class="h6 mb-0">Edit Profile</span>
                                        </a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Club" asp-action="Create">
                                            <span class="h6 mb-0">Create Club</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Race" asp-action="Create">
                                            <span class="h6 mb-0">Create Race</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Dashboard" asp-action="Index">
                                            <span class="h6 mb-0">Dashboard</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
                                            <span su class="h6 mb-0">Logout</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a>
                                    <span>&nbsp;or&nbsp;</span>
                                    <a asp-area="" asp-controller="Account" asp-action="Login">Sign in</a>
                                </li>
                            </ul>
                        }

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="bg-gray text-light footer-long">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="logo-text">RunGroop</a>
                    <p class="text-muted">
                        &copy; 2022 RunGroop
                        <br />
                        <br />
                    </p>
                </div>
                <!--end of col-->
                <div class="col-12 col-md-9">
                    <span class="h5">The world's first online platform for runners</span>
                    <div class="row no-gutters">
                        <div class="col-6 col-lg-3">
                            <h6>Club Directory</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a asp-area="" asp-controller="Club"
                                       asp-action="RunningClubsByStateDirectory">Find Running Clubs By State</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Club"
                                       asp-action="RunningClubsByStateForCityDirectory">Find Running Clubs By City</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-3">
                            <h6>Social</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://www.youtube.com/channel/UCU_Pr6r85LeSe62S65BLV2g">Youtube</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/RunGroop-101353239237822">Facebook</a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/rungroop">Twitter</a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </footer>
   
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

});
<script type="text/javascript">
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/Notifications/GetNotifications",
        traditional: true,
        contentType: "application/json;charset=utf-8",
        success: function (data) {
            var notifications = data;
            $("#noti_Container").ikrNotificationCount({
                NotificationList: notifications,
                NotiFromPropName: "FromUserName",
                ListTitlePropName: "NotiHeader",
                ListBodyPropName: "NotiBody",
                ControllerName: "Notifications",
                ActionName: "AllNotifications"
            });
        },
        error: function (xhr, status, error) {
            console.log("Error occurred:");
            console.log("Status: " + status);
            console.log("Error: " + error);
            console.log("Response Text: " + xhr.responseText);
            alert("An error occurred while fetching notifications. Please try again later.");
        }
    });

            </script>